<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tipoproducto.nombre %>
</p>

<%= link_to 'Edit', edit_tipoproducto_path(@tipoproducto) %> |
<%= link_to 'Back', tipoproductos_path %>
