%p.alert.alert-success{:role => "alert", :style => "#{"display:none;" if notice.nil?}"}= notice
%p.alert.alert-danger{:role => "alert", :style => "#{"display:none;" if alert.nil?}"}= alert
%h1 Lista Tipo de Vehiculos
- if current_usuario.perfil == "admin"
  = link_to "Nuevo Tipo Vehiculo" , new_backoffice_tipovehiculo_path , :class => "btn btn-success"
%div{"ng-app" => "MyApp"}
  %div{"ng-controller" => "ListadoTipoVehiculoCtrl"}
    %div{"ui-grid-pagination " =>"","id"=>"grid1" ,"ui-grid"=>"gridOptions" ,"ui-grid-edit"=>"", "ui-grid-cellNav"=>"", "class"=>"grid"}
