<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tipovehiculo.nombre %>
</p>

<%= link_to 'Edit', edit_tipovehiculo_path(@tipovehiculo) %> |
<%= link_to 'Back', tipovehiculos_path %>
