%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, html_options = {class:"navbar-brand"} do
        = image_tag("isologotipo-seguroservice.png")
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.active
          = link_to "Salir", destroy_usuario_session_path, method: :delete
    / /.nav-collapse
