<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipovigencia.nombre %>
</p>

<%= link_to 'Edit', edit_tipovigencia_path(@tipovigencia) %> |
<%= link_to 'Back', tipovigencias_path %>
